
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="popup.css">
</head>
<body>
    <div id="subtitleContainer">
        Yo mama
    </div>
    <!-- Add more UI elements as you wish -->
    <script src="popup.js"></script>
</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="popup.css">
</head>
<body>
    <div id="subtitleContainer">
        Yo mama
    </div>
    <!-- Add more UI elements as you wish -->
    <script src="scripts/background.js"></script>
    <button id="translatetext">translatetext</button>
    <div id="displaytranslate"></div>
</body>
</html> -->
